<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Mode" value="Interval" />
    <add key="IntervalMinutes" value="1" />
    <add key="ScheduledTime" value="18:41" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Url" value="http://localhost:8765/v2/log_batch" />
    <add key="UrlPre" value="http://cm:password@17.80.228.220/api/v2/parts?serial_type=bandU026serial=" />
    <add key="UrlPostZ" value="U026process_name=z-heightU026last_log=true" />
    <add key="UrlPostW" value="U026process_name=warm-reshapeU026last_log=true" />
    <add key="SoftwareName" value="GALVCON" />
    <add key="SoftwareVersion" value="V4.1" />
    <add key="LineId" value="BM1-1FHS-05" />
    <add key="FixtureId" value="2" />
    <add key="HeadId" value="1" />
    <add key="StationId" value="MGKK_BM1-1FHS-05_2_DEVELOPMENT48" />
    <add key="StationString" value="FrreFormString" />
    <add key="BandSerialLen" value="20" />
    <add key="BandSerialStChars" value="HNFU" />
    <add key="BandSerialEndChars" value="8F+5" />
  </appSettings>
<connectionStrings><add name="warmPressEntities" connectionString="metadata=res://*/WarmPressDataModel.csdl|res://*/WarmPressDataModel.ssdl|res://*/WarmPressDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-P8QN986\SQLEXPRESS;initial catalog=warmPress;user id=sa;password=sql@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>